<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9e73df">  <td>19/09/11 16:46:32</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest._LaunchApp()[pri:0, instance:com.forsenteva.testscripts.Eva_CCA_Onboard_Patient_079@436813f3]">&gt;&gt;_LaunchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1297978429</td>   <td></td> </tr>
<tr bgcolor="9e73df">  <td>19/09/11 16:46:36</td>   <td>4826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.Eva_CCA_Onboard_Patient_079@436813f3]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1297978429</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/09/11 16:51:13</td>   <td>281521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_CCA_Onboard_Patient_079.testDataValidation()[pri:0, instance:com.forsenteva.testscripts.Eva_CCA_Onboard_Patient_079@436813f3]">testDataValidation</td> 
  <td>main@1297978429</td>   <td></td> </tr>
<tr bgcolor="9e73df">  <td>19/09/11 16:52:07</td>   <td>335733</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.Eva_CCA_Onboard_Patient_079@436813f3]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1297978429</td>   <td></td> </tr>
</table>
