<h2>Methods that were not run</h2><table>
<tr><td>com.forsenteva.web.library.BaseTest._LaunchApp</td></tr>
<tr><td>com.forsenteva.web.library.BaseTest._LaunchApp</td></tr>
<tr><td>com.forsenteva.web.library.BaseTest._LaunchApp</td></tr>
<tr><td>com.forsenteva.web.library.BaseTest._LaunchApp</td></tr>
<tr><td>com.forsenteva.web.library.BaseTest._LaunchApp</td></tr>
<tr><td>com.forsenteva.web.library.BaseTest._LaunchApp</td></tr>
<tr><td>com.forsenteva.web.library.BaseTest._LaunchApp</td></tr>
<tr><td>com.forsenteva.web.library.BaseTest._LaunchApp</td></tr>
<tr><td>com.forsenteva.web.library.BaseTest._LaunchApp</td></tr>
</table>