<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:31:02</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest._LaunchApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_001Test@385e9564]">&gt;&gt;_LaunchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:31:07</td>   <td>4682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_001Test@385e9564]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="bca1e0">  <td>19/09/11 20:31:54</td>   <td>51621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_Care_OnboardPatient_001Test.verifyOnboardPatientTabTest()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_001Test@385e9564]">verifyOnboardPatientTabTest</td> 
  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:32:14</td>   <td>71874</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_001Test@385e9564]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:32:16</td>   <td>73993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_002Test@5b94b04d]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="886778">  <td>19/09/11 20:32:16</td>   <td>74017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_Care_OnboardPatient_002Test.verifyTest()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_002Test@5b94b04d]">verifyTest</td> 
  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:32:21</td>   <td>79076</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_002Test@5b94b04d]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:32:21</td>   <td>79077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_003Test@8c3b9d]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9ba398">  <td>19/09/11 20:32:21</td>   <td>79115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_Care_OnboardPatient_003Test.addNewButtonTest()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_003Test@8c3b9d]">addNewButtonTest</td> 
  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:32:26</td>   <td>84130</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_003Test@8c3b9d]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:32:26</td>   <td>84131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_004Test@4c39bec8]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>19/09/11 20:32:26</td>   <td>84152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_Care_OnboardPatient_004Test.addNewFieldsCheckingTest()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_004Test@4c39bec8]">addNewFieldsCheckingTest</td> 
  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:32:31</td>   <td>89167</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_004Test@4c39bec8]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:32:31</td>   <td>89168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_005Test@f79e]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="77a0a2">  <td>19/09/11 20:32:31</td>   <td>89188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_Care_OnboardPatient_005Test.checkingFirstnameFieldTest()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_005Test@f79e]">checkingFirstnameFieldTest</td> 
  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:32:31</td>   <td>89223</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_005Test@f79e]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:32:31</td>   <td>89224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_006_Test@7ee8290b]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>19/09/11 20:32:31</td>   <td>89250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_Care_OnboardPatient_006_Test.mandatoryFirstNameTest()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_006_Test@7ee8290b]">mandatoryFirstNameTest</td> 
  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:32:31</td>   <td>89278</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_006_Test@7ee8290b]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:32:31</td>   <td>89280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_007Test@1f59a598]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9168bc">  <td>19/09/11 20:32:31</td>   <td>89311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_Care_OnboardPatient_007Test.lastNameTest()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_007Test@1f59a598]">lastNameTest</td> 
  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:32:31</td>   <td>89354</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_007Test@1f59a598]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:32:31</td>   <td>89354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_008Test@1e178745]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>19/09/11 20:32:31</td>   <td>89381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_Care_OnboardPatient_008Test.lastNameTest()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_008Test@1e178745]">lastNameTest</td> 
  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:32:31</td>   <td>89406</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_008Test@1e178745]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:32:31</td>   <td>89407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_009Test@192c3f1e]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9d62cb">  <td>19/09/11 20:32:32</td>   <td>89431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_Care_OnboardPatient_009Test.verifyMandataryLastNameTest()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_009Test@192c3f1e]">verifyMandataryLastNameTest</td> 
  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:32:32</td>   <td>89460</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_009Test@192c3f1e]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:32:32</td>   <td>89463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_010Test@26b3fd41]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="759b6d">  <td>19/09/11 20:32:32</td>   <td>89479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_Care_OnboardPatient_010Test.validatingLastNameTest()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_010Test@26b3fd41]">validatingLastNameTest</td> 
  <td>main@1213818572</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>19/09/11 20:32:32</td>   <td>89511</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Care_OnboardPatient_010Test@26b3fd41]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1213818572</td>   <td></td> </tr>
</table>
